.idea/
.vscode
static/
dist/
coverage/
node_modules
src/**/*.js
config/**/*.js
src/pages/.umi/
src/pages/.umi-production/
!src/client/lib/*.js
.DS_Store
.audit.json
logs
*.log
package-lock.json
yarn.lock
yarn-error.log
